debug: false
api:
    bind_address: "0.0.0.0:21342"
    auth_mode: bearer
    create_app_max_size: "50M"
    bearer_tokens:
        admin: "admin-bearer-token"
        client-a: "client-a-bearer-token"
        client-b: "client-b-bearet-token"
        hello-world: "hello-world-bearer-token"
        test-service: "test-bearer-123-token"
    oauth:
        oidc_issuer_url: "https://source.factorial.io"
scheduler:
    running_app_check: "15m"
    ttl_check: "10m"
    task_cleanup: "3m"
telemetry: None  # Options: None, "traces", "metrics", or "traces,metrics" for both
apps:
    domain_suffix: "ddev.site"
    root_folder: "./apps" # Path to the folder where the apps are stored
docker:
    connection: local # local, socket or http, see bollard docs
    registries:
        factorial_legacy:
            registry: https://registry.factorial.io:8443
            username: "deploybot"
            password: "deploybot" # Override with env SCOTTY__DOCKER__REGISTRIES__FACTORIAL_LEGACY__PASSWORD
        factorial:
            registry: https://registry.factorial.io
            username: "deploybot"
            password: "deploybot" # Override with env SCOTTY__DOCKER__REGISTRIES__FACTORIAL__PASSWORD

load_balancer_type: Traefik #HaproxyConfig or Traefik
traefik:
    network: "proxy"
    use_tls: true
    certresolver: "myresolver"
haproxy:
    use_tls: true
