on:
    workflow_dispatch:
    schedule:
        - cron: "0 2 * * *" # daily at 2 AM UTC

jobs:
    clean:
        runs-on: ubuntu-latest
        name: Delete old test images
        steps:
            - name: Cleanup registry
              uses: dataaxiom/ghcr-cleanup-action@v1
              with:
                  dry-run: true
                  exclude-tags: main,next,v*
                  token: ${{ secrets.GITHUB_TOKEN }}
